:root {
  --day-anim-speed: 0ms;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-size: 11px;
  text-align: center;
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.red-box {
  background: #b62c4e;
  white-space: pre-line;
  border-radius: 5px;
  color: #ffffff;
  font-size: 11px;
  padding: 5px;
  margin: 5px;
  text-align: left;
}

.calendar-header {
  width: 100%;
  height: 10vh;
  font-size: 40px;
  text-align: center;
}

.sidebar-shell {
  width: 20%;
  height: 100%;
  float: left;
  background-color: #111111;
}

.page-setup {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #222222;
  color: #ffffff;
}

.calendar-body {
  width: 80%;
  height: 90%;
  overflow: auto;
  overflow-x: hidden;
}

.calendar {
  width: 100%;
  border: none;
}

.calendar-body::-webkit-scrollbar {
  width: 0px;
}

.week {
}

.week-cell {
  height: 25vh;
}

.day-cell {
}

.day-bubble {
  border-radius: 5px;
  height: 24vh;
  color: #ffffff;
  font-size: 11px;
  padding: 5px;
  margin: 0.5vh;
  text-align: left;
  background-color: #444444;
  transition: background-color var(--day-anim-speed);
}

.day-bubble:hover {
  background-color: #888888;
}

.day-bubble-real {
  background-color: #666666;
}

.day-bubble-currmonth {
}

.day-bubble-fake {
  background-color: #444444;
}

.day-bubble-lastmonth {
}

.day-bubble-nextmonth {
}

.month-button {
  height: 6%;
  border-radius: 5px;
  color: #ffffff;
  background-color: #6767da;
  padding: 5px;
  margin: 5px;
}

.upcoming-body {
  width: 80%;
  height: 90%;
  overflow-x: hidden;
}

.upcoming {
  width: 100%;
  border: none;
}

.calendar-space {
  border-radius: 5px;
  height: 21vh;
  width: 10.85vw;
  color: #ffffff;
  font-size: 11px;
  padding: 0.5vh;
  margin: 0.5vh;
  text-align: left;
  background-color: #444444;
  transition: 0.2s;
}

.calendar-space:hover {
  background-color: #888888;
}

.calendar-space-today {
  background-color: #666666;
}

.add-card-button {
  float: right;
  color: Transparent;
  background-color: Transparent;
  padding-left: 4px;
  padding-right: 4px;
  transition: 0.2s;
}

.add-card-button:hover {
  color: #e2a600;
  background-color: #444444;
}

.card-area {
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-height: 20vh;
}

.card {
  margin: 2px 0px;
  background-color: #ffffff !important;
  color: #222222;
  border-radius: 4px !important;
  border: 0px !important;
}

.card-flex {
  display: flex;
}

.checkbox-area {
  background-color: #ecad00 !important;
  width: 2rem;
  border-radius: 4px 0px 0px 4px !important;
  border: 0px !important;
  text-align: center;
}

.checkbox-button {
  background-color: #ffffff !important;
  width: 1rem;
  height: 1rem;
  text-align: center;
  margin: 2px 2px;
  border-radius: 4px !important;
  transition: 0.2s;
}

.checkbox-button:active {
  background-color: #ecad00 !important;
}

.card-desc {
  flex-grow: 1;
  border-radius: 4px !important;
  border: 0px !important;
  margin: 2px 4px;
  width: 5rem;
}

#save-json-btn {
  background-color: #e2a600 !important;
  padding: 5px;
  margin: 5px;
}
