body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.red-box {
  background: #b62c4e;
  white-space: pre-line;
  border-radius: 5px;
  color: #ffffff;
  font-size: 11px;
  padding: 5px;
  margin: 5px;
  text-align: left;
}

.calendar-header {
  width: 100%;
  height: 10%;
  font-size: 40px;
  text-align: center;
}

.sidebar-shell {
  width: 20%;
  height: 100%;
  float: left;
  background-color: #111111;
}

.page-setup {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #222222;
  color: #ffffff;
}

.calendar {
  width: 80%;
  height: 90%;
}

.week-cell {
  height: 17%;
}

.day-cell {
}

.day-bubble {
  border-radius: 5px;
  height: 100%;
  color: #ffffff;
  font-size: 11px;
  padding: 5px;
  text-align: left;
}

.day-bubble-real {
  background: #555555;
}

.day-bubble-fake {
  background: #444444;
}

.month-button {
  height: 6%;
  border-radius: 5px;
  color: #ffffff;
  background-color: #6767da;
  font-size: 11px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
